<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
  <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Contactez-nous</h2>
  <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
    <div>
      <p class="mb-12 lg:mb-16 font-light text-gray-500 dark:text-gray-400 sm:text-xl">Vous avez un problème ? Vous avez un avis ? Besoin de détails ? Dites-le nous !</p>
      <div class="mb-10">
        <br>
        <figure class="max-w-lg">
          <%= image_tag('market.png', class: 'h-auto max-w-full rounded-lg', alt: 'marché aux plantes') %>
        </figure>
      </div>
    </div>
    <div>
      <br>
      <form action="/send_contact_email" method="post" class="space-y-8">
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
          <input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="email@exemple.com" required>
        </div>
        <div>
          <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sujet</label>
          <input type="text" name="subject" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="J'adore CommuniTerra !" required>
        </div>
        <div class="sm:col-span-2">
          <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Message</label>
          <textarea name="message" id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Votre message"></textarea>
        </div>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="flex justify-center">
          <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-green-primary rounded-lg bg-green-primary sm:w-fit hover:bg-green-200 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
</div>
