<div class="w-full px-5 py-12 mx-auto lg:px-32">
    <div class="flex flex-col w-full mx-auto prose text-left prose-lg">
        <div class="border-b border-gray-200">
            <h1 class="text-3xl font-bold">Notre histoire</h1>
        </div>
        <p class="mb-4">Nous avons décidé de nous lancer dans cette aventure en partageant notre passion commune : les plantes. Notre site, CommuniTerra, est né de l'idée de créer une communauté en ligne dédiée aux jardiniers amateurs. Nous croyons en la puissance de la nature pour établir des liens entre les individus et pour apporter une beauté et une harmonie à nos vies.</p>
        <p class="mb-4">Sur CommuniTerra, nous encourageons l'entraide et l'échange de connaissances. Vous trouverez ici un espace où vous pourrez poser vos questions, partager vos expériences et apprendre des autres jardiniers passionnés. Que vous ayez des interrogations sur l'entretien d'une plante en particulier, des conseils pour créer un jardin fleuri, ou même simplement envie de discuter de votre amour pour la botanique, vous trouverez une communauté accueillante prête à vous aider.</p>
        <p class="mb-4">Nous sommes convaincus que le jardinage est une activité enrichissante qui va bien au-delà de la simple plantation de graines. C'est un moyen de se connecter à la nature, de prendre soin de notre environnement et de cultiver une beauté durable. En partageant nos connaissances et en travaillant ensemble, nous pouvons créer des espaces verts magnifiques, qu'il s'agisse de jardins urbains, de potagers ou de balcons fleuris.</p>
        <p class="mb-4">Rejoignez-nous sur CommuniTerra et découvrez un monde de passionnés de jardinage. Ensemble, nous pouvons cultiver une communauté florissante et faire grandir nos compétences en jardinage. Que vous soyez un novice curieux ou un jardinier chevronné, vous êtes les bienvenus ici.</p>
    </div>
</div>