<% if flash[:notice].present? || flash[:alert].present? %>
  <div id="alert-container" class="flex justify-center mb-4">
    <%= render 'shared/alert', alert_type: flash[:notice].present? ? 'success' : 'error', alert_message: flash[:notice] || flash[:alert] %>
  </div>
<% end %>

<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 min-h-screen">
  <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Notre histoire</h2>
  <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
    <div>
      <div class="mb-10">
        <p class="text-gray-500 dark:text-gray-400">Nous avons décidé de nous lancer dans cette aventure en partageant notre passion commune : les plantes. <br/>Notre site, CommuniTerra, est né de l'idée de créer une communauté en ligne dédiée aux jardiniers amateurs. Nous croyons en la puissance de la nature pour établir des liens entre les individus et pour apporter une beauté et une harmonie à nos vies.</p>
      </div>
      <div class="mb-10">
        <p class="text-gray-500 dark:text-gray-400">Sur CommuniTerra, nous encourageons l'entraide et l'échange de connaissances. Vous trouverez ici un espace où vous pourrez poser vos questions, partager vos expériences et apprendre des autres jardiniers passionnés. <br/>Que vous ayez des interrogations sur l'entretien d'une plante en particulier, des conseils pour créer un jardin fleuri, ou même simplement envie de discuter de votre amour pour la botanique, vous trouverez une communauté accueillante prête à vous aider.</p>
      </div>
      <div class="mb-10">
        <figure class="max-w-lg">
          <%= image_tag('market.png', class: 'h-auto max-w-full rounded-lg', alt: 'marché aux plantes') %>
        </figure>
      </div>
    </div>
    <div>
      <div class="mb-10">
        <figure class="max-w-lg">
          <%= image_tag('color_pop.png', class: 'h-auto max-w-full rounded-lg', alt: 'main qui arrose sa plante') %>
        </figure>
      </div>
      <div class="mb-10">
        <p class="text-gray-500 dark:text-gray-400">Nous sommes convaincus que le jardinage est une activité enrichissante qui va bien au-delà de la simple plantation de graines. <br/>C'est un moyen de se connecter à la nature, de prendre soin de notre environnement et de cultiver une beauté durable. <br/>En partageant nos connaissances et en travaillant ensemble, nous pouvons créer des espaces verts magnifiques, qu'il s'agisse de jardins urbains, de potagers ou de balcons fleuris.</p>
      </div>
      <div class="mb-10">
        <p class="text-gray-500 dark:text-gray-400">Rejoignez-nous sur CommuniTerra et découvrez un monde de passionnés de jardinage. <br/>Ensemble, nous pouvons cultiver une communauté florissante et faire grandir nos compétences en jardinage. Que vous soyez un novice curieux ou un jardinier chevronné, vous êtes les bienvenus ici.</p>
      </div>
    </div>
  </div>
</div>
