<% if flash[:notice].present? || flash[:alert].present? %>
  <div id="alert-container" class="flex justify-center mb-4">
    <%= render 'shared/alert', alert_type: flash[:notice].present? ? 'success' : 'error', alert_message: flash[:notice] || flash[:alert] %>
  </div>
<% end %>

<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 min-h-screen">
  <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Mentions légales</h2>
  <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
    <div>
      <div class="mb-10">
        <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
          Le site CommuniTerra est édité par les étudiants de <br> The Hacking Project
        </h3>
      </div>
      <div class="mb-10">
        <p class="text-gray-500 dark:text-gray-400">Siège social : 145 rue La Fayette, 75010, Paris<br>Numéro de téléphone : 06 66 43 09 17<br>Adresse e-mail : contact@communiterra.fr<br>Numéro d'identification : SIRET 0789963<br>Directeur de la publication : Elmo</p>
      </div>
      <div class="mb-10">
        <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
          Hébergement du site
        </h3>
      </div>
      <div class="mb-10">
        <p class="text-gray-500 dark:text-gray-400">Heroku<br>https://herokuapp.com<br>+31 54 566 633 981<br>contact@heroku.com</p>
      </div>
      <div class="mb-10">
        <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
          Propriété intellectuelle
        </h3>
      </div>
      <div class="mb-10">
        <p class="text-gray-500 dark:text-gray-400">Tous les contenus présents sur le site CommuniTerra, tels que les textes, les images, les vidéos, les logos, les icônes, sont la propriété exclusive de The Hacking Project ou de ses partenaires, et sont protégés par les lois relatives à la propriété intellectuelle.<br><br>Toute reproduction, modification, diffusion ou utilisation sans autorisation préalable est strictement interdite.</p>
      </div>
    </div>
    <div>
      <div class="mb-10">
        <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
          Protection des données personnelles
        </h3>
      </div>
      <div class="mb-10">
        <p class="text-gray-500 dark:text-gray-400">Nous utilisons vos données personnelles de manière personnelle.<br>Ils nous est donc impossible de vous divulguer la manière dont nous utilisons vos données personnelles.</p>
      </div>
      <div class="mb-10">
        <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
          Liens vers d'autres sites
        </h3>
      </div>
      <div class="mb-10">
        <p class="text-gray-500 dark:text-gray-400">Le site CommuniTerra peut contenir des liens vers des sites tiers.<br>Nous n'avons aucun contrôle sur le contenu ou les pratiques de confidentialité de ces sites et déclinons toute responsabilité à leur égard.</p>
      </div>
      <div class="mb-10">
        <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
          Limitation de responsabilité
        </h3>
      </div>
      <div class="mb-10">
        <p class="text-gray-500 dark:text-gray-400">Nous nous efforçons de maintenir les informations présentes sur le site CommuniTerra à jour et exactes.<br>Cependant, nous ne pouvons garantir l'exactitude, l'exhaustivité ou la pertinence de ces informations.<br>En conséquence, nous déclinons toute responsabilité quant aux éventuelles erreurs, omissions ou dommages résultant de l'utilisation du site.</p>
      </div>
      <div class="mb-10">
        <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
          Modification des mentions légales
        </h3>
      </div>
      <div class="mb-10">
        <p class="text-gray-500 dark:text-gray-400">Nous nous réservons le droit de modifier les présentes mentions légales à tout moment et sans préavis.<br>Il est de la responsabilité des utilisateurs de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.</p>
      </div>
    </div>
  </div>
</div>
