<section>
    <div class="flex flex-col items-center px-5 py-5 mx-auto">
        <div class="flex flex-col w-full mb-8 prose text-left max-w-max lg:max-w-2xl text-gray-700">
            <div class="w-full mx-auto">
                <h1 class="text-sm">Mentions légales</h1>
                
                <br>

                <p class="text-xs">Le site CommuniTerra est édité par les étudiants de The Hacking Project</p>
                <p class="text-xs">Siège social : 143 rue La Fayette, 75010, Paris</p>
                <p class="text-xs">Numéro de téléphone : 06 66 43 09 17</p>
                <p class="text-xs">Adresse e-mail : contact@communiterra.com</p>
                <p class="text-xs">Numéro d'identification : SIRET 0789963</p>

                <br>

                <p class="text-xs">Directeur de la publication : Elmo</p>

                <br>

                <p class="text-xs">Hébergement du site :</p>
                <p class="text-xs">Heroku</p>
                <p class="text-xs">https://www.herokuapp.com/</p>
                <p class="text-xs">+31 54 566 633 981</p>
                <p class="text-xs">contact@heroku.com</p>

                <br>

                <p class="text-xs">Propriété intellectuelle :</p>
                <p class="text-xs">Tous les contenus présents sur le site CommuniTerra, tels que les textes, les images, les vidéos, les logos, les icônes, sont la propriété exclusive de The Hacking Project ou de ses partenaires, et sont protégés par les lois relatives à la propriété intellectuelle. Toute reproduction, modification, diffusion ou utilisation sans autorisation préalable est strictement interdite.</p>

                <br>

                <p class="text-xs">Protection des données personnelles :</p>
                <p class="text-xs">Nous utilisons vos données personnelles de manière personnelle. Ils nous est donc impossible de vous divulguer la manière dont nous utilisons vos données personnelles.</p>

                <br>

                <p class="text-xs">Liens vers d'autres sites :</p>
                <p class="text-xs">Le site CommuniTerra peut contenir des liens vers des sites tiers. Nous n'avons aucun contrôle sur le contenu ou les pratiques de confidentialité de ces sites et déclinons toute responsabilité à leur égard.</p>

                <br>

                <p class="text-xs">Limitation de responsabilité :</p>
                <p class="text-xs">Nous nous efforçons de maintenir les informations présentes sur le site CommuniTerra à jour et exactes. Cependant, nous ne pouvons garantir l'exactitude, l'exhaustivité ou la pertinence de ces informations. En conséquence, nous déclinons toute responsabilité quant aux éventuelles erreurs, omissions ou dommages résultant de l'utilisation du site.</p>

                <br>

                <p class="text-xs">Modification des mentions légales :</p>
                <p class="text-xs">Nous nous réservons le droit de modifier les présentes mentions légales à tout moment et sans préavis. Il est de la responsabilité des utilisateurs de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.</p>
            </div>
        </div>
    </div>
</section>
