<section class="bg-white dark:bg-gray-900">
  <div class="py-20 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
    <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">L'Équipe</h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Un grand remerciement à tous les membres de l'équipe ayant permis à ce projet de pousser et de voir le jour.</p>
    </div> 
    <div class="grid grid-cols-3 gap-8 lg:gap-16">
      <div class="text-center text-gray-500 dark:text-gray-400">
        <img class="mx-auto object-cover object-center mb-4 w-36 h-36 rounded-full" src="https://images.pexels.com/photos/7715384/pexels-photo-7715384.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          <a href="#">Katherine Cao</a>
        </h3>
        <p>Botaniste</p>
      </div>
      <div class="text-center text-gray-500 dark:text-gray-400">
        <img class="mx-auto object-cover object-center mb-4 w-36 h-36 rounded-full" src="https://images.pexels.com/photos/5938401/pexels-photo-5938401.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          <a href="#">Ezekiel Ravidat</a>
        </h3>
        <p>Floraliste</p>
      </div>
      <div class="text-center text-gray-500 dark:text-gray-400">
        <img class="mx-auto object-cover object-center mb-4 w-36 h-36 rounded-full" src="https://images.pexels.com/photos/5804257/pexels-photo-5804257.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          <a href="#">Boris Crochet</a>
        </h3>
        <p>Horticulteur</p>
      </div>
      <div class="text-center text-gray-500 dark:text-gray-400">
        <img class="mx-auto object-cover object-center mb-4 w-36 h-36 rounded-full" src="https://images.pexels.com/photos/6984605/pexels-photo-6984605.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          <a href="#">Hugo Rischmann</a>
        </h3>
        <p>Herboriste</p>
      </div>
      <div class="text-center text-gray-500 dark:text-gray-400">
        <img class="mx-auto object-cover object-center mb-4 w-36 h-36 rounded-full" src="https://images.pexels.com/photos/5262459/pexels-photo-5262459.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          <a href="#">Tommy Rischmann</a>
        </h3>
        <p>Paysagiste</p>
      </div>
      <div class="text-center text-gray-500 dark:text-gray-400">
        <img class="mx-auto object-cover object-center mb-4 w-36 h-36 rounded-full" src="https://images.pexels.com/photos/9770430/pexels-photo-9770430.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          <a href="#">Dylan Doré</a>
        </h3>
        <p>Menthe Or</p>
      </div>
    </div>  
  </div>
</section>
