<div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
  <div class="bg-white rounded-lg shadow-md p-4">
    <h1 class="font-semibold text-lg mb-4">Modifier l'article</h1>

    <%= render "form", listing: @listing %>

  </div>
</div>
