<div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
<%= link_to 'Ajouter un article', new_listing_path, class: 'text-indigo-500 font-semibold' %>
  <% @listings.each do |listing| %>
    <div class="bg-white rounded-lg shadow-md p-4">

      <div class="flex flex-wrap mb-2">

      <div class="mt-4">

      </div>
    </div>
  <% end %>
</div>

</div>