<div class="grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
  <div class="bg-white rounded-lg shadow-md p-4">

    <%= render @listing %>

    <%= link_to "Modifier l'article", edit_listing_path(@listing), class: "text-indigo-500 font-semibold" %>
    <div class="inline-block ml-2">
      <%= button_to "Supprimer l'article", listing_path(@listing), method: :delete, class: "text-indigo-500 font-semibold" %>
    </div>
    <%= link_to "Retour aux articles", listings_path, class: "text-indigo-500 font-semibold" %>
  </div>
</div>
