<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.username %> !</h1>
    <p>
      L'équipe CommuniTerra te remercie pour ton inscription et te souhaite la bienvenue parmi nous !
    </p>
    <p>
      Ajoute des plantes dans ton dashboard, renseigne leurs informations dans leur journal et n'oublie jamais d'en prendre soin.
    </p>
    <p>
      Pour accéder à ton espace personnel, connecte-toi via : 
      <%= @url %>
    </p>
    <p> À très vite sur CommuniTerra !
  </body>
</html>