<% if flash[:notice].present? %>
  <%= render 'shared/alert', alert_type: 'success', alert_message: flash[:notice] %>
<% elsif flash[:alert].present? %>
  <%= render 'shared/alert', alert_type: 'error', alert_message: flash[:alert] %>
<% end %>

<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New order listing</h1>

  <%= render "form", order_listing: @order_listing %>

  <%= link_to 'Back to order listings', order_listings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
