<div id="<%= dom_id plant_sitting %>">
  <p>
    <strong>User:</strong>
    <%= plant_sitting.user_id %>
  </p>

  <p>
    <strong>Kept plant:</strong>
    <%= plant_sitting.kept_plant_id %>
  </p>

</div>
