<div id="<%= dom_id plant_sitting %>">
  <p>
    <strong>Sitter:</strong>
    <%= plant_sitting.sitter.username %>
  </p>

  <p>
    <strong>Asker:</strong>
    <%= plant_sitting.asker.username %>
  </p>
</div>
