<h1>Editing plant sitting</h1>

<%= render "form", plant_sitting: @plant_sitting %>

<br>

<div>
  <%= link_to "Show this plant sitting", @plant_sitting %> |
  <%= link_to "Back to plant sittings", plant_sittings_path %>
</div>
