<% if @kept_plants && @kept_plants.any? %>
  <% @kept_plants.each do |kept_plant| %>
    <div id="<%= dom_id kept_plant %>">
      <p>
        <strong>User:</strong>
        <%= kept_plant.user_id %>
      </p>

      <p>
        <strong>Kept plant:</strong>
        <%= kept_plant.owned_plant.plant.common_name %>
      </p>
    </div>
  <% end %>
<% else %>
  <p>Aucune plante à garder pour le moment.</p>
<% end %>

<%= link_to "Mettre des plantes à garder", new_kept_plant_path %>
