<p style="color: green"><%= notice %></p>




<div>
  <%= link_to "Modifier", edit_plant_sitting_path(@plant_sitting) %> |
  <%= link_to "Retour", plant_sittings_path %>

  <%= button_to "Supprimer", @plant_sitting, method: :delete %>
</div>
