<footer class="mt-auto bottom-0 bg-green-secondary shadow border border-green-dark dark:bg-gray-900">
    <div class="flex flex-col items-center w-full p-2 md:py-2">
        <a href="#" class="flex items-center mb-4 sm:mb-0">
            <%# <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 mr-3" alt="Flowbite Logo" /> %>
            <span class="self-center text-1xl font-quicksand-500 whitespace-nowrap hover:text-green-primary dark:text-green-secondary">CommuniTerra</span>
        </a>
        <hr class="my-1 border-green-dark sm:mx-auto dark:border-gray-700" />
        <div class="items-center sm:flex sm:items-center sm:justify-between">
            <ul class="flex flex-wrap items-center mb-6 text-sm font-small text-green-dark  sm:mb-0 dark:text-green-secondary">
                <li>
                    <a href="#" class="mr-4 md:mr-6 hover:underline hover:text-green-primary">Notre Histoire</a>
                </li>
                <li>
                    <a href="#" class="mr-4 md:mr-6 hover:underline hover:text-green-primary">Notre Équipe</a>
                </li>
                <li>
                    <a href="#" class="mr-4 md:mr-6 hover:underline hover:text-green-primary">Mentions Légales</a>
                </li>
                <li>
                    <a href="#" class="mr-4 md:mr-6 hover:underline hover:text-green-primary">FAQ</a>
                </li>
                <li>
                    <a href="#" class="mr-4 md:mr-6 hover:underline hover:text-green-primary">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-1 border-green-dark sm:mx-auto dark:border-gray-700" />
        <span class="block text-sm text-green-dark sm:text-center dark:text-green-secondary">© 2023 <a href="https://flowbite.com/" class="hover:underline hover:text-green-primary">CommuniTerra</a>. All Rights Reserved.</span>
    </div>
</footer>