<div id="<%= dom_id kept_plant %>">
  <p>
    <strong>User:</strong>
    <%= kept_plant.user_id %>
  </p>

  <p>
    <strong>Owned plant:</strong>
    <%= kept_plant.owned_plant_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= kept_plant.quantity %>
  </p>

</div>
