<h1>Modification</h1>

<%= render "form", kept_plant: @kept_plant %>

<br>

<div>
  <%= link_to "Voir la plante", @kept_plant %> |
  <%= link_to "Retour aux plantes gardées", kept_plants_path %>
</div>
