<div id="<%= dom_id owned_plant %>">

  <p>
    <strong>Plant:</strong>
    <%= owned_plant.plant.common_name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= owned_plant.quantity %>
  </p>

</div>
