<div id="<%= dom_id owned_plant %>">

  <p>
    <strong>Plante :</strong>
    <%= @owned_plant.plant.common_name %>
  </p>

  <p>
    <strong>Quantité :</strong>
    <%= @owned_plant.quantity %>
  </p>

</div>
