<h1>Editing owned plant</h1>

<%= render "form", owned_plant: @owned_plant %>

<br>

<div>
  <%= link_to "Show this owned plant", @owned_plant %> |
  <%= link_to "Back to owned plants", owned_plants_path %>
</div>
