<p style="color: green"><%= notice %></p>

<h1>Owned plants</h1>

<div id="owned_plants">
  <% @owned_plants.each do |owned_plant| %>
    <%= render owned_plant %>
    <p>
      <%= link_to "Show this owned plant", owned_plant %>
    </p>
  <% end %>
</div>

<%= link_to "New owned plant", new_owned_plant_path %>
