<div id="<%= dom_id plant_mood %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Plant mood:</strong>
    <%= plant_mood.plant_mood %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this plant mood", plant_mood, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this plant mood', edit_plant_mood_path(plant_mood), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
