<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New cart listing</h1>

  <%= render "form", cart_listing: @cart_listing %>

  <%= link_to 'Back to cart listings', cart_listings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
