<!-- app/views/contact_mailer/contact_email.html.erb -->

<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      /* Your email styles go here */
    </style>
  </head>
  <body>
    <h1>Contact Email</h1>
    <p>Email: <%= @contact_email %></p>
    <p>Subject: <%= @contact_subject %></p>
    <p>Message: <%= @contact_message %></p>
  </body>
</html>
