<div class="flex px-6 py-12 lg:px-8">

  <% if @owned_plant.plant.flowering.nil? %>
     <h1> </h1>
  <% else %>
    <% current_month = Date.today.strftime("%B") %>
    <% flowering_months = @owned_plant.plant.flowering.split(", ") %>
    <% french_months = {
        "January" => "JANVIER",
        "February" => "FÉVRIER",
        "March" => "MARS",
        "April" => "AVRIL",
        "May" => "MAI",
        "June" => "JUIN",
        "July" => "JUILLET",
        "August" => "AOÛT",
        "September" => "SEPTEMBRE",
        "October" => "OCTOBRE",
        "November" => "NOVEMBRE",
        "December" => "DÉCEMBRE"
    } %>

    <% if flowering_months.include?(french_months[current_month]) %>
      <p>Votre plante est en saison de floraison. Attendez vous à des belles surprises !</p>
    <% end %>
  <% end %>

</div>