/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope. 
 * For custom css, don't forget to push require main, require navbar, require user...
 * Before deploying : rails assets:clean or rails assets:clobber then rails assets:precompile but Heroku will do it alone.
 * To use pictures in css, don't forget to put something like this in css body { background: url(asset_path('backgrounds/bg1.png')) no-repeat center center; } or image_path
 *
 *= require_tree .
 *= require_self
 *= require tailwind
*/

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* VIEW PLANTS */
.plant-title {
  background-color: #DBFFD1;
  font-size: 20px;
  font-weight: bold;
}

.plant-column {
  background-color: #DBFFD1;
  column-count: 4;
  column-gap: 20px;
  padding: 10px 20px;
}

.plant-plant {
  display: block;
  margin-bottom: 10px;
}
